# Distribution / packaging
build
dist
*.egg
*.egg-info
*.whl

# # Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# C extensions
*.so
*.pyd

# Virtualenv
*venv*/

# Coverage
.coverage
/htmlcov

# mkdocs documentation
/site

# Test
test.uel
