site_name: uel

repo_name: user-11150/puel
repo_url: https://github.com/user-11150/puel

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - admonition
  - def_list
  - meta
  - footnotes

  - toc:
      permalink: true
      baselevel: 1
  - pymdownx.keys
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets
  - markdown.extensions.attr_list
  - pymdownx.details

nav:
  - Home: "index.md"
  - Guide: "guide.md"
  - Glossary: "glossary.md"
  - "What's new": "whatsnew.md"

theme:
  name: "material"
  custom_dir: docs/custom_dir
  palette:
    - scheme: 'default'
      media: '(prefers-color-scheme: light)'
      primary: blue
      toggle:
        icon: "material/white-balance-sunny"
        name: "Switch to dark mode"
    - scheme: 'slate'
      media: '(prefers-color-scheme: dark)'
      primary: blue
      toggle:
        icon: 'material/moon-waxing-crescent'
        name: 'Switch to light mode'

copyright: All rights

plugins:
  - search
  - minify:
      minify_html: true

extra:
  analytics:
    provider: google
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/user-11150/puel
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/uel
