.ue-image-container
{
    display: flex;
    align-items: center;
    flex-direction: column
}
.ue-image-container *
{
    width: 80vw;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    margin: 5px
}
.ue-image-container *:hover
{
    transition: .5s;
    box-shadow: 1px 1px 1px #787878
}
@font-face {
  font-family: "text";
  src: url("../fonts/text.ttf") format('truetype')
}
